<ion-view view-title="Browse" hide-back-button="true">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-android-add" id="create-button" onclick="window.location.href='#/app/recipes/'+ Date.now() + Math.floor((Math.random() * 100) + 1); ">
    </button>
  </ion-nav-buttons>
  
  <ion-header-bar class="bar-light bar-subheader" id="subheader-bar"> 
    <div class="row">
      <div class="col">
	<input type="text" placeholder="Search for Recipe" ng-model="search"
               ng-focus="showDropdownFilterMenu = true"
               ng-blur="showDropdownFilterMenu = false"
               ng-change="scrollTop()"
               id="search-bar"/>
      </div>
    </div>
  </ion-header-bar>

  <ion-content>
    <div ng-show="showDropdownFilterMenu" id="dropdown-filtermenu" class="animate-show" >
      <div class="row">Category:</div>
      <div class="row">
	<div class="col">
          <ion-checkbox class="checkbox-energized" ng-model="filterFlags.baking" ng-change="searchParametersChanged()">
            Baking
          </ion-checkbox>   
	  <ion-checkbox class="checkbox-energized"  ng-model="filterFlags.drinks" ng-change="searchParametersChanged()">
            Drinks
          </ion-checkbox> 
	  <ion-checkbox class="checkbox-energized" ng-model="filterFlags.breakfast" ng-change="searchParametersChanged()">
            Breakfast
          </ion-checkbox>   
	</div>		 
	<div class="col">
	  <ion-checkbox class="checkbox-energized" ng-model="filterFlags.lunch" ng-change="searchParametersChanged()">
            Lunch
          </ion-checkbox> 
	  <ion-checkbox class="checkbox-energized" ng-model="filterFlags.dinner" ng-change="searchParametersChanged()">
            Dinner
          </ion-checkbox> 
	</div>
      </div>
      <div class="row">Flags:</div>
      <div class="row">
	<ion-checkbox class="checkbox-energized" ng-model="filterFlags.vegetarian" ng-change="searchParametersChanged()">
          Vegetarian
	</ion-checkbox>   
	<ion-checkbox class="checkbox-energized" ng-model="filterFlags.vegan" ng-change="searchParametersChanged()">
          Vegan
	</ion-checkbox> 
	<ion-checkbox class="checkbox-energized" ng-model="filterFlags.glutenfree" ng-change="searchParametersChanged()">
          Glutenfree
	</ion-checkbox>   	
      </div>
    </div>

    <div ng-repeat="currRecipe in recipeList">

      <div class="list card" on-hold="showOverflowMenu(currRecipe)" on-tap="showRecipe(currRecipe)">
	<div class="item browse-recipe-title">
	  {{currRecipe.name}}
	</div>

	<div class="row">
	  <div class="col-50 browse-recipe-data">
	    <a class="icon ion-folder browse-recipe-icon"></a> {{currRecipe.category}} <br>

	    <a class="icon ion-clock browse-recipe-icon"></a> {{+currRecipe.prep_time + +currRecipe.cook_time}} min <br>

	    <!-- check flags  and print the checked ones -->
	    <span ng-repeat="flag in currRecipe.flags">
	      <span ng-if="flag.checked">
		<span ng-if="flag.text == 'Vegetarian' || flag.text =='Vegan'">
		  <a class="icon ion-leaf browse-recipe-icon"></a>
		</span>
		<span ng-if="flag.text == 'Glutenfree'">
		  <a class="icon ion-ios-nutrition browse-recipe-icon"></a>
		</span>
	      </span>	  
	    </span>
	  </div>
	  
	  <div class="col-50 browse-recipe-photo">
	    <img  ng-src="{{currRecipe.imageSource}}"
		  class="browse-recipe-photo"/>	  
	  </div>
	  
	</div>
	
	
	<!-- <span ng-repeat="ingredient in currRecipe.ingredients"> -->
	<!--   {{ingredient.name}} -->
	<!-- </span> -->
      </div>
    </div>
    
  </ion-content>
</ion-view>
