<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="header">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-android-menu" id="menu-button" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sidemenu">
    <ion-header-bar>
      <h1 class="title">ckbk</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<ion-item menu-close href="#/app/browse">
          <a class="icon-left ion-android-home"></a> Browse
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <a class="icon-left ion-android-search"></a> Search
        </ion-item>
	<ion-item menu-close href="#/app/settings">
           <a class="icon-left ion-android-settings"></a> Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
