<script>
  $('#recipe-direction-text').css('overflow', 'hidden').autogrow([vertical: true, horizontal: false]);
</script>

<ion-view view-title="Recipe">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-android-done" id="recipe-save-button" ng-click="saveRecipe()">
    </button>
  </ion-nav-buttons>

  <ion-content>

    <form novalidate class="simple-form">
      <!-- card for the general information of the recipe-->
      <div class="list card">
	<!-- name text field -->
	<label class="item item-input">
	  <span class="input-label">Name</span>
	  <input type="text" ng-model="recipe.name">
	</label>

	<div class="item">
	  <div class="col col-center">
	    <div class="item item-image">
	      <img src={{recipe.imageSource}}>
	    </div>
	    
	    <div class="row">
	      <div class="col">
		<div class="view-rating">
		  <button class="button button-icon ion-android-star"></button>
		  <button class="button button-icon ion-android-star"></button>
		  <button class="button button-icon ion-android-star"></button>
		  <button class="button button-icon ion-android-star-half"></button>
		  <button class="button button-icon ion-android-star-outline"></button>
		</div>		
	      </div>	      
	    </div>
	  </div>
	</div>

      </div>
      
      <div class="list card">
	<!-- category field -->
	<label class="item item-input item-select">
	  <div class="input-label">
	    Category
	  </div>
	  <select ng-model="recipe.category">
	    <option>Baking</option>
	    <option>Drinks</option>
	    <option>Breakfast</option>
	    <option>Lunch</option>
	    <option>Dinner</option>	
	  </select>
	</label>
	
	<!-- preparation time -->
	<div class="item">
	  <label class="item item-input">
	    <span class="input-label">Preparation Time[min]</span>
	    <input type="text" placeholder={{recipe.prep_time}}>
	  </label>
	</div>
	
	<!-- cooking time -->
	<div class="item">
	  <label class="item item-input">
	    <span class="input-label">Cooking Time[min]</span>
	    <input type="text" placeholder={{recipe.cook_time}}>
	  </label>
	</div>
	<div class="item">
          <ion-checkbox ng-repeat="item in recipe.flags"
			ng-model="item.checked" 
			ng-checked="item.checked"
			class="checkbox-energized">
            {{ item.text }}
          </ion-checkbox>    
	</div>
      </div>

      <!-- list of ingredients -->
      <div class="list card">
	
	<div class="row item">
	  <div class="col col-center">Ingredients: </div> 
	  <div class="col right">
	    <div class="edit-persons">
	      <label class="item item-input">
		<span class="input-label">Persons:</span>
		<input type="number" ng-model="recipe.persons"/>
	      </label>
	    </div>
	  </div>
	</div>
	
        <div class="row item edit-ingredient" ng-repeat="item in recipe.ingredients">
	  <div class="col-25 col-center">
	    <input type="text" placeholder="Ingredient">
	  </div>
	  <div class="col-25 col-center edit-ingredient-amount">
	    <input type="text" placeholder="Amount">
	  </div>
	  <div class="col col-center">
	    <label class="edit-ingredient-unit item item-input item-select">
	      <select ng-model="item.unit">
		<option>g</option>
		<option>kg</option>
		<option>ml</option>
		<option>l</option>
		<option>pckg</option>
		<option>pc</option>
	      </select>
	    </label>
	  </div>
	  <div class="remove-button col-10 col-center right">
	    <button class="button button-icon ion-android-close" id="remove-ingredient-button" ng-click="removeIngredientField()">
	    </button>
	  </div>
        </div>    
	<!-- add new ingredient button -->
	<button class="add-ingredient-button icon ion-plus-round" ng-click="addIngredientField()">
	</button>
      </div>

<!-- list of directions -->
<div class="list card">
  <div class="row item view-directions" ng-repeat="item in recipe.directions">
    <div class="col-90">
      <input type="text" placeholder="Direction">
    </div>
    <div class="col-10 remove-button">
      <button class="button button-icon ion-android-close" id="remove-direction-button" ng-click="removeDirection()">
      </button>
    </div>
  </div>    
  
  <!-- add new direction button -->
  <button class="add-ingredient-button icon ion-plus-round" ng-click="addDirectionField()">
  </button>

</div>
</form>
</ion-content>
</ion-view>














