<ion-view view-title="Recipe">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-edit" id="edit-button" ng-click="editRecipe()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <!-- card for the general information of the recipe-->
    <div class="list card">
      <!-- name text field -->
      <label class="view-name">
	{{recipe.name}}
      </label>
      
      <div class="item">
	<div class="col col-center">
	  <div class="item item-image">
	    <img ng-src="{{recipe.image_larger}}"/>
	  </div>
	  
	  <div class="row">
	    <div class="col">
	      <div class="view-rating">
		<button class="button button-icon ion-android-star" ng-click="ratingButtonClicked(1)"></button>
		  <button ng-class="{'button button-icon ion-android-star': recipe.rating >= 2, 'button button-icon ion-android-star-outline': recipe.rating < 2}" ng-click="ratingButtonClicked(2)"></button>
		  <button ng-class="{'button button-icon ion-android-star': recipe.rating >= 3, 'button button-icon ion-android-star-outline': recipe.rating < 3}" ng-click="ratingButtonClicked(3)"></button>
		  <button ng-class="{'button button-icon ion-android-star': recipe.rating >= 4, 'button button-icon ion-android-star-outline': recipe.rating < 4}" ng-click="ratingButtonClicked(4)"></button>
		  <button ng-class="{'button button-icon ion-android-star': recipe.rating >= 5, 'button button-icon ion-android-star-outline': recipe.rating < 5}" ng-click="ratingButtonClicked(5)"></button>
	      </div>		
	    </div>	      
	  </div>
	</div>
      </div>

      <!-- preparation and cook time -->
      <div class="item">
	<div class="row">
	  
	  <div class="col">
	    <span class="view-category">
	      {{recipe.category}}
	    </span>

	    <br/>
	    
	    <span class="view-time">
	      <i class="icon ion-clock"></i>
	      <i class="icon ion-knife"></i>
	      {{recipe.prep_time}} min
	    </span>

	    <br/>
	    
	    <span class="view-time">
	      <i class="icon ion-clock"></i>
	      <i class="icon ion-flame"></i>
	      {{recipe.cook_time}} min
	    </span>
	  </div>

	  <div class="col">
	    <span ng-repeat="item in recipe.flags">
	      <span ng-show="item.checked" class="view-flag">
		<i class="icon ion-plus-round"></i>
		{{item.text}}
		<br/>
	      </span>
	    </span>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- list of ingredients -->
    <div class="list card">
      <div class="row item">
	<div class="view-headline col col-center">
	  Ingredients:
	</div>
	<div class="col right">
		<div class="view-headline col col-center">
	    <span>Persons: </span>
		<span class="button button-icon ion-minus" ng-click="decreasePersonCount()"/>
		<span>{{recipe.persons}}</span>
		<span class="button button-icon ion-plus" ng-click="increasePersonCount()"/>
		</div>
	</div>
      </div>
      <div class="row item view-ingredient" ng-repeat="item in recipe.ingredients">
	<div class="col">
	  {{item.ingredient}}
	</div>
	<div class="col">
	  {{item.amount}}
	</div>
	<div class="col">
	  {{item.unit}}
	</div>
      </div>    

    </div>

    <!-- list of directions -->
    <div class="list card">
      <div class="row item">
	<div class="view-headline col col-center">
	  Directions
	</div>
      </div>
      <div class="row item view-direction" ng-repeat="item in recipe.directions">
	<div class="col">
	  {{$index+1}}.
	</div>
	<div class="col">
	  {{item.text}}
	</div>
      </div>    


    </div>
  </ion-content>
</ion-view>













